doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Frontend Devil 2.0
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='../css/app.css')
		script(src='../js/app.js')
	body
		.container

			.row.content
				.col-md-3.col-sm-4.col-xs-12.event
					| Hello world! This is HTML5 Boilerplate.
				.col-md-3.col-sm-4.col-xs-12.event
					| Hello world! This is HTML5 Boilerplate.
				.col-md-3.col-sm-4.col-xs-12.event
					| Hello world! This is HTML5 Boilerplate.
				.col-md-3.col-sm-4.col-xs-12.event
					| Hello world! This is HTML5 Boilerplate.

			.content
				.event
					| Hello world! This is HTML5 Boilerplate.
				.event
					| Hello world! This is HTML5 Boilerplate.
				.event
					| Hello world! This is HTML5 Boilerplate.
				.event
					| Hello world! This is HTML5 Boilerplate.

				form.half
					.form-group
						label(for='exampleInputEmail1') Email address
						input#exampleInputEmail1.form-control(type='email', placeholder='Email')
					.form-group
						label(for='exampleInputPassword1') Password
						input#exampleInputPassword1.form-control(type='password', placeholder='Password')
					.form-group
						label(for='exampleInputFile') File input
						input#exampleInputFile(type='file')
						p.help-block Example block-level help text here.
					.checkbox
						label
							input(type='checkbox')
							|  Check me out
					button.btn.btn-default(type='submit') Submit