doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Frontend Devil 2.0
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='../css/app.css')
		script(src='../js/app.js')
	body
		.container
			h1 Frontend-devil 2.0
			h2 Best way to manage your Front-End assets
			img(src='../images/devil.png' class='img-responsive devil-logo')